@import '../colours';

.Gallery {
  .gallery-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .load-more {
    padding: 10px;
    background: @grey-200;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 10px 4px;
    width: 100%;

    &:hover {
      background: @black;
    }
  }
}