@import '../colours';

.Main {
  max-width: 1050px;
  margin: 50px auto;

  .zen-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @black;
    z-index: 5001;

    article {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: @grey-800;
    z-index: 6000;
    font-weight: 900;

    &:hover {
      color: @white;
      transition: 0.5s;
    }
  }
}