@import '../../colours';

.Clickable {
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  border: none;
}
