@import '../../colours';

.ImageViewer {
  .inner-container {
    position: relative;
    width: 240px;
    margin: 10px;
    background-color: @grey-500;
    border-radius: 5px;
    cursor: pointer;

    &.lightbox-image {
      width: auto;
      margin: 0 auto;
      cursor: default;
      background-color: inherit;
    }

    .image {
      display: block;
      margin: auto;
      border-radius: 5px;
    }
  
    .hide-image {
      display: none;
    }
  
    &:hover {
      .image-description {
        visibility: visible;
      }
    }
  
    .image-description {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: white;
      opacity: 0.6;
      margin: 5px;
      padding: 30px 40px;
      border-radius: 2px;
      text-align: center;
      overflow: hidden;
  
      .image-title {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
