@import '../../colours';

.LoadingIcon {
  margin: 0 auto;
  border: 16px solid @grey-200;
  border-top: 16px solid @grey-800;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

  &.small {
    width: 20px;
    height: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}